name: CICD Pipeline Dev To Production

on:
  push:
    branches:
      - main

jobs:
  db_cicd:
    name: Database CICD
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.1.1

      - name: Deploy to Production via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "20.49.49.79"
          username: "Agile"
          password: "Agilpermana72"
          # Uncomment if your SSH port is different
          # port: 22
          script: |
            echo "Deploying to production server..."

# TEst RunAdbidgida dhuiahda
